<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="bitcamp.java106.step12.Board" alias="Board"/>
  </typeAliases>
  
  <mappers>
    <mapper resource="bitcamp/java106/step12/ex3/BoardMapper.xml"/>
  </mappers>
</configuration>







